

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
  }
  body,h1,h2,h3,h4,h5,h6 {font-family: "Merienda", Merienda}
  
  .container {
    width: 90%;
    max-width: 500px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  header h1 {
    font-size: 36px;
    color: #81c7d4; /* Customize color for "LUXE" */
    font-weight: bold;
  }
  
  header p {
    font-size: 16px;
    font-style: italic;
    color: #333;
    margin-bottom: 20px;
  }
  
  form label {
    display: block;
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
  }
  
  form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  form textarea {
    resize: vertical;
  }
  
  button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #81c7d4; /* Button color matching "LUXE" */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #69b0c3;
  }
  